# Игнорировать настройки среды разработки
.idea/
.vscode/

# Игнорировать временные файлы Python
*.pyc
*.pyo
__pycache__/

# Игнорировать файлы конфигурации и переменных окружения
.env

# Игнорировать логи и временные файлы
*.log
*.tmp

# Игнорировать папки/файлы, созданные при запуске
*.sqlite3
*.db

# Игнорировать файлы/папки в системе macOS
.DS_Store

# Игнорировать файлы, относящиеся к системе Windows
Thumbs.db
desktop.ini

# Игнорировать архивы или скомпилированные файлы
*.zip
*.tar.gz
*.rar

# Игнорировать папку с результатами сборки (если есть)
dist/
build/
